@font-face {
    font-family: TradeGothicBold;
    src: url("Trade Gothic LT Bold.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf");
}

:root {
    font-family: Roboto, sans-serif;
    --brandDarkBlue: #1E3765;
    --brandMedBlue: #007FA3;
    --brandLightBlue: #6FC7EA;
    --brandPurple: #6D247A;
    --brandPink: #AB1368;
    --brandDarkGreen: #0D534D;
    --brandMedGreen: #00A189;
    --brandLightGreen: #8DBF2E;
    --brandRed: #DC4633; 
    --brandYellow: #F1C500;
    --brandBlack: #000000;
    --brandWhite: #ffffff;
    --brandGray: #D0D1C9;
    --brandGray70: #4d4d4d;
    --brandGray80: #333333;
    --brandGray90: #191919;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--brandGray90);
}

main {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

h1 {
    font-family: TradeGothicBold;
    font-size: 36px;
    color: var(--brandWhite);
    text-decoration: underline;
}

h2 {
    font-family: TradeGothicBold;
    font-size: 24px;
    color: var(--brandWhite);
    font-weight: normal;
    /* text-decoration: underline; */
}

h3 {
    font-family: TradeGothicBold;
    font-size: 27px;
    font-weight: normal;
    color: var(--brandWhite);
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: solid 2px var(--brandYellow);
    /* background-color: var(--brandYellow); */
    /* padding-left: 5px; */
    /* padding-right: 5px; */
}

h4 {
    font-family: TradeGothicBold;
    font-size: 23px;
    color: var(--brandWhite);
    text-decoration: none;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: solid 1px var(--brandDarkBlue);
    border-bottom: solid 3px var(--brandDarkBlue);
}

h5 {
    font-family: TradeGothicBold;
    font-size: 21px;
    color: var(--brandWhite);
    text-decoration: none;
    padding-bottom: 5px;
    padding-top: 5px;
    /* border-top: solid 1px var(--brandDarkBlue); */
    border-bottom: solid 1px var(--brandDarkBlue);
}

p {
    font-family: Roboto;
    color: var(--brandWhite);
    font-size: 16px;
    line-height: 24px;
}

a {
    color: var(--brandLightBlue);
    text-decoration: underline;
}

a:hover {
    color: var(--brandWhite);
}

h3 a {
    color: var(--brandRed)
}

.text {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    max-width: 760px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    border-bottom: solid 1px var(--brandDarkBlue);
}

@media screen and (max-width: 480px) {
    .text {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.bold {
    font-family: TradeGothicBold;
    /* font-size: 24px; */
    color: var(--brandYellow);
}

.italic {
    color: var(--brandGray);
}

#note {
    color: var(--brandGray);
    font-size: 15px;
    text-align: right;
    opacity: 0.8;
}